*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 93, 94);
    
}
button{
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
}

.popup{
    position: absolute;
    background-color: coral;
    width: 250px;
    border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
    top: 0;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
}
.open{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

    /* background-color: darkgray; */
}
button:active{
filter: opacity(50%);
}